################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/03/Start_Here/StockAnalyzer.Core/obj
/04/Completed/StockAnalyzer.Core/obj
/04/Start_Here/StockAnalyzer.Core/obj
/05/Completed/StockAnalyzer.Core/obj
/05/Start_Here/StockAnalyzer.Core/obj
/02/Completed/StockAnalyzer.Core/obj
/02/Start_Here/StockAnalyzer.Core/obj
/03/Completed/StockAnalyzer.Core/obj
/03/Completed/StockAnalyzer.Tests/obj
/02/Start_Here/StockAnalyzer.Web/bin
/02/Start_Here/StockAnalyzer.Web/obj
/02/Start_Here/StockAnalyzer.Windows/bin/Debug
/02/Start_Here/StockAnalyzer.Windows/obj
/02/Completed/StockAnalyzer.Web/bin
/02/Completed/StockAnalyzer.Web/obj
/02/Completed/StockAnalyzer.Windows/bin/Debug
/02/Completed/StockAnalyzer.Windows/obj
/03/Start_Here/StockAnalyzer.Web/obj
/03/Start_Here/StockAnalyzer.Windows/bin/Debug
/03/Start_Here/StockAnalyzer.Windows/obj
/03/Start_Here/StockAnalyzer.Web/bin
/03/Start_Here/StockAnalyzer.Core/bin/Debug/netstandard2.0
/03/Start_Here/StockAnalyzer.Tests/bin/Debug/net6.0
/03/Start_Here/StockAnalyzer.Tests/obj
